---
import Layout from "../layouts/MyLay.astro";
import Frontpage from "../layouts/Frontpage.astro";
import Card from "../components/Card.astro";
import TextWrapper from "../components/TextWrapper.astro";
---

<Layout title="asla.cc">
  <Frontpage>
    <h1>Nettsia tel'n far</h1>
    <ul role="list" class="link-card-grid">
      <Card href="www.example.com" title="test" body="hei hei" />
    </ul>
    <TextWrapper>
      <p>
        Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit
        enim labore culpa sint ad nisi Lorem pariatur mollit ex esse
        exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit
        nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor
        minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure
        elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor
        Lorem duis laboris cupidatat officia voluptate. Culpa proident
        adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod.
        Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim.
        Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa
        et culpa duis.
      </p>
    </TextWrapper>
  </Frontpage>
</Layout>

<style>
  /* main { */
  /*   margin: auto; */
  /*   padding: 1rem; */
  /*   width: 800px; */
  /*   max-width: calc(100% - 2rem); */
  /*   color: var(--color); */
  /*   font-size: 20px; */
  /*   line-height: 1.6; */
  /* } */
  h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    /* margin-bottom: 1em; */
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color);
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
